@media screen and (max-width:688px) {


    /*-----goal Section  Style Start----------*/
    .goal {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
        margin: 10px;
        padding: 0;
    }

    .goal-text {
        margin-bottom: 35px;
    }

    .goal-text h1 {
        font-size: 45px;
        width: 100%;
    }

    .goal-text p {
        font-size: 15px;
        width: 100%;
    }

    .goal-img img {
        width: 70%;
    }

    /*-----goal Section  Style End----------*/


    /*-----Button & Layout Section  Style Start---------*/


    .button-layout {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        position: static;
    }

    .button-1,
    .button-2 {
        width: 100%;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .button-3 {
        width: 100%;
    }


    .layout {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    /*-----Button & Layout Section  Style End---------*/


    /*-----Footer Section  Style Start---------*/

    .footer-text h1 {
        margin-top: 10px;
    }

    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .link a {
        margin: 5px;
    }

    /*-----Footer Section  Style End---------*/


}

@media screen and (min-width:689px) and (max-width: 1024px) {

    /*-----goal Section  Style Start----------*/
    .goal {
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 0;
    }

    .goal-text {
        margin-bottom: 35px;
        padding: 30px;
        width: 50%;
    }

    .goal-text h1 {
        font-size: 40px;
        width: 100%;
    }

    .goal-text p {
        font-size: 12px;
        width: 100%;
    }

    .goal-img {
        width: 50%;
    }

    .goal-img img {
        width: 98%;
    }

    /*-----goal Section  Style End----------*/


    /*-----Button & Layout Section  Style Start---------*/


    .button-layout {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 35px;
    }

    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        position: static;
    }

    .button-1,
    .button-2 {
        width: 210px;
        height: 64px;
        border: 1px solid #E8E8E8;
        border-radius: 10px;

    }

    .button-3 {
        width: 210px;
        height: 64px;

    }

    .layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .view-more a {
        display: inline-block;
    }

    /*-----Button & Layout Section  Style End---------*/
}