/*-----Google Font Section Start----------*/

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Open+Sans:wght@600&family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

/*-----Google Font Section End----------*/



/*-----General Section Style Start----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*-----goal Section  Style Start----------*/


.goal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    background: #161616;
    border-radius: 30px;
    margin: 50px;
    padding: 50px;
}

.goal-text h1 {
    width: 531px;
    height: 240px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.goal-text p {
    width: 506px;
    height: 78px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 55px;
}

.goal-text a {
    width: 187px;
    height: 80px;
    background: #DD0000;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 22px;
    transition: color 1.5s, background-color 2s;
}

.goal-text a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}
.goal-img img{
    height: 76vh;
}
/*-----goal Section  Style End----------*/

/*-----Button & Layout Section Style Start----------*/
.button-layout {
    display: flex;
    justify-content: flex-start;
    margin: 50px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.button-1,
.button-2,
.button-3 {
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    text-align: center;
    padding: 14px;
    margin: 10px;
    border: 2px solid black;
}

.button-3 {
    background-color: #DD0000;
    border: none;
}

.button-3 a {
    color: #FFFFFF;
}

#layout {
    flex-grow: 1;
}

.layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    gap: 24px;
}

.card {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-img {
    margin-bottom: 20px;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.transfer {
    width: 100px;
    height: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
}


.description {
    width: 272px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    margin: 20px 0;
}

.card-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment {
    margin-left: 30px;
}

.color {
    color: rgba(22, 22, 22, 0.7);
}

.number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 22, 22, 0.7);
}


.view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.view-more a {
    width: 200px;
    height: 50px;
    background-color: #DD0000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    padding: 10px 30px;
    display: none;
}

/*-----Button & Layout Section  Style End----------*/


/*-----Footer Section  Style Start----------*/
footer {
    width: 100%;
    height: 445px;
    background: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;

}


.footer-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
}


.footer-text hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
    margin-left: 25px;
    transition: transform 250ms, opacity 400ms;
}



.social-link a {
    font-size: 25px;
    color: aqua;
    margin-left: 25px;
    transition: transform 250ms, opacity 400ms;
}

.link a:hover,
.social-link a:hover {
    transform: scale(1.2);
    color: rgb(255, 0, 0);
}




/*-----Footer Section  Style End----------*/